<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>calcylator</title>
    </head>
    <body>
        <div class="container">
            <h2 id="label">0</h2>

            <button id="7">7</button><button id="8">8</button><button id="9">9</button><button id="+">+</button>
            <button id="4">4</button><button id="5">5</button><button id="6">6</button><button id="-">-</button>
            <button id="1">1</button><button id="2">2</button><button id="3">3</button><button id="*">*</button>
            <button id="0">0</button><button id=".">.</button><button id="=">=</button><button id="/">/</button>
            <button id="<="><=</button><button id="C">C</button>
            
        </div>
        <script>
            let number1 = 0
            let strnumber = ""
            let func = 0
    

            document.getElementById("1").addEventListener("click", function() {
                strnumber += "1";
                document.getElementById("label").innerText = strnumber;
            });

            document.getElementById("2").addEventListener("click", function() {
                strnumber += "2";
                document.getElementById("label").innerText = strnumber;
            });

            document.getElementById("3").addEventListener("click", function() {
                strnumber += "3";
                document.getElementById("label").innerText = strnumber;
            });

            document.getElementById("4").addEventListener("click", function() {
                strnumber += "4";
                document.getElementById("label").innerText = strnumber;
            });

            document.getElementById("5").addEventListener("click", function() {
                strnumber += "5"
                document.getElementById("label").innerText = strnumber;
            });

            document.getElementById("6").addEventListener("click", function() {
                strnumber += "6";
                document.getElementById("label").innerText = strnumber;
            });

            document.getElementById("7").addEventListener("click", function() {
                strnumber += "7";
                document.getElementById("label").innerText = strnumber;
            });

            document.getElementById("8").addEventListener("click", function() {
                strnumber += "8";
                document.getElementById("label").innerText = strnumber;
            });

            document.getElementById("9").addEventListener("click", function() {
                strnumber += "9";
                document.getElementById("label").innerText = strnumber;
            });
 
            document.getElementById("0").addEventListener("click", function() {
                strnumber += "0";
                document.getElementById("label").innerText = strnumber;
            });

            document.getElementById(".").addEventListener("click", function() {
                if (!strnumber.includes(".")){
                    strnumber += ".";
                    document.getElementById("label").innerText = strnumber;
                }
               
            });

            document.getElementById("=").addEventListener("click", function() {
                switch (func){
                    
                    case 1:
                        strnumber = (number1 + parseFloat(strnumber)).toString()
                        number1 = 0
                        func = 0
                        document.getElementById("label").innerText = strnumber;
                        break
                    
                    case 2:
                        strnumber = (number1 - parseFloat(strnumber)).toString()
                        number1 = 0
                        func = 0
                        document.getElementById("label").innerText = strnumber;
                        break

                    case 3:
                        strnumber = (number1 / parseFloat(strnumber)).toString()
                        number1 = 0
                        func = 0
                        document.getElementById("label").innerText = strnumber;
                        break

                    case 4:
                        strnumber = (number1 * parseFloat(strnumber)).toString()
                        number1 = 0
                        func = 0
                        document.getElementById("label").innerText = strnumber;
                        break

                }
                
            });

            document.getElementById("+").addEventListener("click", function() {
                number1 = parseFloat(strnumber)
                strnumber = "0"
                func = 1
                document.getElementById("label").innerText = strnumber;
                strnumber = ""
            });
 
            document.getElementById("-").addEventListener("click", function() {
                number1 = parseFloat(strnumber)
                strnumber = "0"
                func = 2             
                document.getElementById("label").innerText = strnumber;
                strnumber = ""
            });
 
            document.getElementById("/").addEventListener("click", function() {
                number1 = parseFloat(strnumber)
                strnumber = "0"
                func = 3     
                document.getElementById("label").innerText = strnumber;   
                strnumber = ""       
            });
 
            document.getElementById("*").addEventListener("click", function() {
                number1 = parseFloat(strnumber)
                strnumber = "0"
                func = 4
                document.getElementById("label").innerText = strnumber; 
                strnumber = ""               
            });

            document.getElementById("C").addEventListener("click", function() {
                strnumber = "0"
                number1 = 0
                func = 0
                document.getElementById("label").innerText = strnumber;
                strnumber = ""
            });

            document.getElementById("<=").addEventListener("click", function() {
                strnumber = strnumber.slice(0, -1)
                document.getElementById("label").innerText = strnumber;
               
            });
 
 
        </script>
    </body>
</html>
